openapi: 3.2.0
info:
  title: Citrix Sessions API
  version: '1.0'
  contact:
    name: Citrix Support
    url: https://support.citrix.com/
  termsOfService: https://developer.cloud.com/citrix-developer-terms-of-use
  description: 'Operations tagged Sessions across 2 of this provider''s published API definitions: citrix-daas-openapi.yml, citrix-storefront-web-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloud.com/cvad/manage
  description: Citrix DaaS Production
- url: https://{storefront-server}/Citrix/Store
  description: StoreFront Server
  variables:
    storefront-server:
      default: storefront.example.com
      description: StoreFront server hostname
tags:
- name: Sessions
  description: Manage and monitor active sessions
paths:
  /Sessions:
    get:
      operationId: listSessions
      summary: Citrix List sessions
      description: Retrieve all active sessions within the customer site.
      tags:
      - Sessions
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      responses:
        '200':
          description: List of sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionCollection'
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloud.com/cvad/manage
      description: Citrix DaaS Production
  /Sessions/{sessionId}:
    get:
      operationId: getSession
      summary: Citrix Get a session
      description: Retrieve details of a specific session.
      tags:
      - Sessions
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          description: Unauthorized
        '404':
          description: Session not found
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloud.com/cvad/manage
      description: Citrix DaaS Production
  /Sessions/{sessionId}/$logoff:
    post:
      operationId: logoffSession
      summary: Citrix Log off a session
      description: Log off an active user session.
      tags:
      - Sessions
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      - $ref: '#/components/parameters/sessionId'
      responses:
        '204':
          description: Session logoff initiated
        '401':
          description: Unauthorized
        '404':
          description: Session not found
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloud.com/cvad/manage
      description: Citrix DaaS Production
  /Sessions/{sessionId}/$disconnect:
    post:
      operationId: disconnectSession
      summary: Citrix Disconnect a session
      description: Disconnect an active user session without logging off.
      tags:
      - Sessions
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      - $ref: '#/components/parameters/sessionId'
      responses:
        '204':
          description: Session disconnect initiated
        '401':
          description: Unauthorized
        '404':
          description: Session not found
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloud.com/cvad/manage
      description: Citrix DaaS Production
  /Sessions/List:
    post:
      operationId: listSessions
      summary: Citrix List active sessions
      description: Retrieve all active HDX sessions for the authenticated user.
      tags:
      - Sessions
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '200':
          description: List of active sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session_2'
        '401':
          description: Not authenticated
      security:
      - csrfToken: []
    servers:
    - url: https://{storefront-server}/Citrix/Store
      description: StoreFront Server
      variables:
        storefront-server:
          default: storefront.example.com
          description: StoreFront server hostname
  /Sessions/Disconnect:
    post:
      operationId: disconnectSession
      summary: Citrix Disconnect a session
      description: Disconnect an active HDX session without logging off.
      tags:
      - Sessions
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - sessionId
              properties:
                sessionId:
                  type: string
                  description: Session ID to disconnect
      responses:
        '200':
          description: Session disconnected
        '401':
          description: Not authenticated
        '404':
          description: Session not found
      security:
      - csrfToken: []
    servers:
    - url: https://{storefront-server}/Citrix/Store
      description: StoreFront Server
      variables:
        storefront-server:
          default: storefront.example.com
          description: StoreFront server hostname
  /Sessions/Logoff:
    post:
      operationId: logoffSession
      summary: Citrix Log off a session
      description: Log off an active HDX session.
      tags:
      - Sessions
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - sessionId
              properties:
                sessionId:
                  type: string
                  description: Session ID to log off
      responses:
        '200':
          description: Session logged off
        '401':
          description: Not authenticated
        '404':
          description: Session not found
      security:
      - csrfToken: []
    servers:
    - url: https://{storefront-server}/Citrix/Store
      description: StoreFront Server
      variables:
        storefront-server:
          default: storefront.example.com
          description: StoreFront server hostname
components:
  parameters:
    sessionId:
      name: sessionId
      in: path
      required: true
      description: Session unique identifier
      schema:
        type: string
    CitrixInstanceId:
      name: Citrix-InstanceId
      in: header
      required: true
      description: Citrix DaaS site instance ID
      schema:
        type: string
    CitrixCustomerId:
      name: Citrix-CustomerId
      in: header
      required: true
      description: Citrix Cloud customer ID
      schema:
        type: string
    CsrfToken:
      name: Csrf-Token
      in: header
      required: true
      description: CSRF token read from the session cookie
      schema:
        type: string
  schemas:
    SessionCollection:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Session'
    Session:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the session
        userName:
          type: string
          description: Username of the session owner
        state:
          type: string
          enum:
          - Active
          - Disconnected
          description: Current session state
        startTime:
          type: string
          format: date-time
          description: When the session started
        machineName:
          type: string
          description: Name of the machine hosting the session
        clientName:
          type: string
          description: Name of the client device
        applicationNames:
          type: array
          items:
            type: string
          description: Applications running in the session
    Session_2:
      type: object
      properties:
        sessionId:
          type: string
          description: Session unique identifier
        appName:
          type: string
          description: Name of the application
        publishedName:
          type: string
          description: Published name of the resource
        initialApp:
          type: string
          description: Initial application that created the session
        isActive:
          type: boolean
          description: Whether the session is currently active
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from Citrix Cloud authentication
    csrfToken:
      type: apiKey
      in: header
      name: Csrf-Token
      description: CSRF token from session cookie for POST requests
x-refined-from:
- citrix-daas-openapi.yml
- citrix-storefront-web-openapi.yml
