openapi: 3.2.0
info:
  title: Citrix Cloud Resource Locations API
  description: Platform-level API for managing Citrix Cloud services, including authentication via OAuth 2.0 client credentials, service principals, resource locations, and notifications across the Citrix Cloud platform.
  version: '1.0'
  contact:
    name: Citrix Support
    url: https://support.citrix.com/
  termsOfService: https://developer.cloud.com/citrix-developer-terms-of-use
servers:
- url: https://api.cloud.com
  description: Citrix Cloud Production (US)
- url: https://api.citrixcloud.jp
  description: Citrix Cloud Production (Japan)
security:
- bearerAuth: []
tags:
- name: Resource Locations
  description: Manage resource locations within a customer
paths:
  /resourcelocations:
    get:
      operationId: listResourceLocations
      summary: Citrix List resource locations
      description: Retrieve all resource locations configured for the customer.
      tags:
      - Resource Locations
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      responses:
        '200':
          description: List of resource locations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ResourceLocation'
        '401':
          description: Unauthorized
  /resourcelocations/{locationId}:
    get:
      operationId: getResourceLocation
      summary: Citrix Get a resource location
      description: Retrieve details of a specific resource location by ID.
      tags:
      - Resource Locations
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/locationId'
      responses:
        '200':
          description: Resource location details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLocation'
        '401':
          description: Unauthorized
        '404':
          description: Resource location not found
components:
  parameters:
    CitrixCustomerId:
      name: Citrix-CustomerId
      in: header
      required: true
      description: Citrix Cloud customer ID header
      schema:
        type: string
    locationId:
      name: locationId
      in: path
      required: true
      description: Resource location unique identifier
      schema:
        type: string
  schemas:
    ResourceLocation:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the resource location
        name:
          type: string
          description: Name of the resource location
        internalOnly:
          type: boolean
          description: Whether the location is internal only
        timeZone:
          type: string
          description: Time zone of the resource location
        readOnly:
          type: boolean
          description: Whether the resource location is read-only
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from client credentials grant
externalDocs:
  description: Citrix Cloud API Documentation
  url: https://developer-docs.citrix.com/en-us/citrix-cloud/citrix-cloud-api-overview/get-started-with-citrix-cloud-apis.html
