openapi: 3.2.0
info:
  title: Citrix Delivery Groups API
  version: '1.0'
  contact:
    name: Citrix Support
    url: https://support.citrix.com/
  termsOfService: https://developer.cloud.com/citrix-developer-terms-of-use
  description: 'Operations tagged Delivery Groups across 2 of this provider''s published API definitions: citrix-daas-openapi.yml, citrix-endpoint-management-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloud.com/cvad/manage
  description: Citrix DaaS Production
- url: https://{xms-server}:4443/xenmobile/api/v1
  description: Citrix Endpoint Management Server
  variables:
    xms-server:
      default: xms.example.com
      description: XenMobile server hostname
tags:
- name: Delivery Groups
  description: Manage delivery groups for resource assignment
paths:
  /DeliveryGroups:
    get:
      operationId: listDeliveryGroups
      summary: Citrix List delivery groups
      description: Retrieve all delivery groups configured within the customer site.
      tags:
      - Delivery Groups
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      responses:
        '200':
          description: List of delivery groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryGroupCollection'
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    post:
      operationId: createDeliveryGroup
      summary: Citrix Create a delivery group
      description: Create a new delivery group for assigning resources to users.
      tags:
      - Delivery Groups
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeliveryGroupRequest'
      responses:
        '201':
          description: Delivery group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryGroup'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloud.com/cvad/manage
      description: Citrix DaaS Production
  /DeliveryGroups/{deliveryGroupId}:
    get:
      operationId: getDeliveryGroup
      summary: Citrix Get a delivery group
      description: Retrieve details of a specific delivery group.
      tags:
      - Delivery Groups
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      - $ref: '#/components/parameters/deliveryGroupId'
      responses:
        '200':
          description: Delivery group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryGroup'
        '401':
          description: Unauthorized
        '404':
          description: Delivery group not found
      security:
      - bearerAuth: []
    put:
      operationId: updateDeliveryGroup
      summary: Citrix Update a delivery group
      description: Update properties of an existing delivery group.
      tags:
      - Delivery Groups
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      - $ref: '#/components/parameters/deliveryGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeliveryGroupRequest'
      responses:
        '200':
          description: Delivery group updated
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '404':
          description: Delivery group not found
      security:
      - bearerAuth: []
    delete:
      operationId: deleteDeliveryGroup
      summary: Citrix Delete a delivery group
      description: Delete an existing delivery group.
      tags:
      - Delivery Groups
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      - $ref: '#/components/parameters/deliveryGroupId'
      responses:
        '204':
          description: Delivery group deleted
        '401':
          description: Unauthorized
        '404':
          description: Delivery group not found
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloud.com/cvad/manage
      description: Citrix DaaS Production
  /deliverygroup/filter:
    post:
      operationId: filterDeliveryGroups
      summary: Citrix Filter delivery groups
      description: Search and filter delivery groups.
      tags:
      - Delivery Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryGroupFilterRequest'
      responses:
        '200':
          description: Filtered delivery group list
          content:
            application/json:
              schema:
                type: object
                properties:
                  dgListData:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeliveryGroup_2'
        '401':
          description: Unauthorized
      security:
      - authToken: []
    servers:
    - url: https://{xms-server}:4443/xenmobile/api/v1
      description: Citrix Endpoint Management Server
      variables:
        xms-server:
          default: xms.example.com
          description: XenMobile server hostname
components:
  parameters:
    deliveryGroupId:
      name: deliveryGroupId
      in: path
      required: true
      description: Delivery group unique identifier
      schema:
        type: string
    CitrixInstanceId:
      name: Citrix-InstanceId
      in: header
      required: true
      description: Citrix DaaS site instance ID
      schema:
        type: string
    CitrixCustomerId:
      name: Citrix-CustomerId
      in: header
      required: true
      description: Citrix Cloud customer ID
      schema:
        type: string
  schemas:
    UpdateDeliveryGroupRequest:
      type: object
      properties:
        name:
          type: string
          description: Updated name
        description:
          type: string
          description: Updated description
        enabled:
          type: boolean
          description: Whether the delivery group is enabled
    DeliveryGroup:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the delivery group
        name:
          type: string
          description: Name of the delivery group
        description:
          type: string
          description: Description of the delivery group
        enabled:
          type: boolean
          description: Whether the delivery group is enabled
        totalMachines:
          type: integer
          description: Total number of machines in the group
        sessionsCount:
          type: integer
          description: Current number of active sessions
        deliveryType:
          type: string
          enum:
          - DesktopsOnly
          - AppsOnly
          - DesktopsAndApps
          description: Type of resources delivered
    CreateDeliveryGroupRequest:
      type: object
      required:
      - name
      - deliveryType
      properties:
        name:
          type: string
          description: Name for the new delivery group
        description:
          type: string
          description: Description for the delivery group
        deliveryType:
          type: string
          enum:
          - DesktopsOnly
          - AppsOnly
          - DesktopsAndApps
          description: Type of resources to deliver
    DeliveryGroupCollection:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DeliveryGroup'
    DeliveryGroupFilterRequest:
      type: object
      properties:
        start:
          type: integer
          description: Start index for pagination
        limit:
          type: integer
          description: Maximum number of results
    DeliveryGroup_2:
      type: object
      properties:
        id:
          type: string
          description: Delivery group unique identifier
        name:
          type: string
          description: Delivery group name
        description:
          type: string
          description: Description
        disabled:
          type: boolean
          description: Whether the delivery group is disabled
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from Citrix Cloud authentication
    authToken:
      type: apiKey
      in: header
      name: auth_token
      description: Authentication token from login endpoint
x-refined-from:
- citrix-daas-openapi.yml
- citrix-endpoint-management-openapi.yml
