openapi: 3.2.0
info:
  title: Citrix Secure Private Access Certificates API
  description: REST API for managing zero trust network access policies, applications, application domains, and certificates in Citrix Secure Private Access, providing secure access to internal web and SaaS applications.
  version: '1.0'
  contact:
    name: Citrix Support
    url: https://support.citrix.com/
  termsOfService: https://developer.cloud.com/citrix-developer-terms-of-use
servers:
- url: https://api.cloud.com/accessSecurity
  description: Citrix Cloud Production
security:
- bearerAuth: []
tags:
- name: Certificates
  description: Manage application certificates
paths:
  /certificate:
    post:
      operationId: createCertificate
      summary: Citrix Upload a certificate
      description: Upload a new SSL certificate for use with applications.
      tags:
      - Certificates
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCertificateRequest'
      responses:
        '201':
          description: Certificate uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  parameters:
    CitrixCustomerId:
      name: Citrix-CustomerId
      in: header
      required: true
      description: Citrix Cloud customer ID
      schema:
        type: string
  schemas:
    CreateCertificateRequest:
      type: object
      required:
      - name
      - certificate
      - privateKey
      properties:
        name:
          type: string
          description: Certificate name
        certificate:
          type: string
          description: PEM-encoded certificate
        privateKey:
          type: string
          description: PEM-encoded private key
    Certificate:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Certificate unique identifier
        name:
          type: string
          description: Certificate name
        subject:
          type: string
          description: Certificate subject
        issuer:
          type: string
          description: Certificate issuer
        expirationDate:
          type: string
          format: date-time
          description: Certificate expiration date
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from Citrix Cloud authentication
externalDocs:
  description: Secure Private Access API Documentation
  url: https://developer-docs.citrix.com/en-us/secure-private-access/access-security/overview.html
