openapi: 3.2.0
info:
  title: Citrix DaaS REST Machines API
  description: REST API for managing Citrix Desktop as a Service (DaaS) cloud deployments, including machine catalogs, delivery groups, applications, sessions, and hypervisor connections.
  version: '1.0'
  contact:
    name: Citrix Support
    url: https://support.citrix.com/
  termsOfService: https://developer.cloud.com/citrix-developer-terms-of-use
servers:
- url: https://api.cloud.com/cvad/manage
  description: Citrix DaaS Production
security:
- bearerAuth: []
tags:
- name: Machines
  description: Manage individual machines in catalogs
paths:
  /Machines:
    get:
      operationId: listMachines
      summary: Citrix List machines
      description: Retrieve all machines registered within the customer site.
      tags:
      - Machines
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      responses:
        '200':
          description: List of machines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineCollection'
        '401':
          description: Unauthorized
  /Machines/{machineId}:
    get:
      operationId: getMachine
      summary: Citrix Get a machine
      description: Retrieve details of a specific machine.
      tags:
      - Machines
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      - $ref: '#/components/parameters/machineId'
      responses:
        '200':
          description: Machine details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
        '401':
          description: Unauthorized
        '404':
          description: Machine not found
components:
  parameters:
    CitrixInstanceId:
      name: Citrix-InstanceId
      in: header
      required: true
      description: Citrix DaaS site instance ID
      schema:
        type: string
    CitrixCustomerId:
      name: Citrix-CustomerId
      in: header
      required: true
      description: Citrix Cloud customer ID
      schema:
        type: string
    machineId:
      name: machineId
      in: path
      required: true
      description: Machine unique identifier
      schema:
        type: string
  schemas:
    MachineCollection:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Machine'
    Machine:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the machine
        name:
          type: string
          description: Machine name
        dnsName:
          type: string
          description: DNS name of the machine
        registrationState:
          type: string
          enum:
          - Registered
          - Unregistered
          description: Registration state with the delivery controller
        powerState:
          type: string
          enum:
          - true
          - false
          - Suspended
          - Unknown
          description: Current power state
        inMaintenanceMode:
          type: boolean
          description: Whether the machine is in maintenance mode
        currentSessionCount:
          type: integer
          description: Number of active sessions on the machine
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from Citrix Cloud authentication
externalDocs:
  description: Citrix DaaS REST APIs Documentation
  url: https://developer-docs.citrix.com/en-us/citrix-daas-service-apis/citrix-daas-rest-apis/overview.html
