openapi: 3.2.0
info:
  title: Citrix Secure Private Access Access Policies API
  description: REST API for managing zero trust network access policies, applications, application domains, and certificates in Citrix Secure Private Access, providing secure access to internal web and SaaS applications.
  version: '1.0'
  contact:
    name: Citrix Support
    url: https://support.citrix.com/
  termsOfService: https://developer.cloud.com/citrix-developer-terms-of-use
servers:
- url: https://api.cloud.com/accessSecurity
  description: Citrix Cloud Production
security:
- bearerAuth: []
tags:
- name: Access Policies
  description: Manage zero trust access policies
paths:
  /policies:
    get:
      operationId: listAccessPolicies
      summary: Citrix List access policies
      description: Retrieve all access policies configured for secure private access.
      tags:
      - Access Policies
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      responses:
        '200':
          description: List of access policies
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccessPolicy'
        '401':
          description: Unauthorized
    post:
      operationId: createAccessPolicy
      summary: Citrix Create an access policy
      description: Create a new zero trust access policy.
      tags:
      - Access Policies
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccessPolicyRequest'
      responses:
        '201':
          description: Access policy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicy'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  schemas:
    CreateAccessPolicyRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Policy name
        description:
          type: string
          description: Policy description
        conditions:
          type: object
          description: Policy conditions
        actions:
          type: object
          description: Policy actions
    AccessPolicy:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Policy unique identifier
        name:
          type: string
          description: Policy name
        description:
          type: string
          description: Policy description
        enabled:
          type: boolean
          description: Whether the policy is active
        priority:
          type: integer
          description: Policy evaluation priority
        conditions:
          type: object
          description: Policy conditions for matching
        actions:
          type: object
          description: Actions to apply when policy matches
  parameters:
    CitrixCustomerId:
      name: Citrix-CustomerId
      in: header
      required: true
      description: Citrix Cloud customer ID
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from Citrix Cloud authentication
externalDocs:
  description: Secure Private Access API Documentation
  url: https://developer-docs.citrix.com/en-us/secure-private-access/access-security/overview.html
