openapi: 3.2.0
info:
  title: Citrix Cloud Notifications API
  description: Platform-level API for managing Citrix Cloud services, including authentication via OAuth 2.0 client credentials, service principals, resource locations, and notifications across the Citrix Cloud platform.
  version: '1.0'
  contact:
    name: Citrix Support
    url: https://support.citrix.com/
  termsOfService: https://developer.cloud.com/citrix-developer-terms-of-use
servers:
- url: https://api.cloud.com
  description: Citrix Cloud Production (US)
- url: https://api.citrixcloud.jp
  description: Citrix Cloud Production (Japan)
security:
- bearerAuth: []
tags:
- name: Notifications
  description: Manage platform notifications
paths:
  /notifications:
    get:
      operationId: listNotifications
      summary: Citrix List notifications
      description: Retrieve platform notifications for the customer.
      tags:
      - Notifications
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
        '401':
          description: Unauthorized
components:
  parameters:
    CitrixCustomerId:
      name: Citrix-CustomerId
      in: header
      required: true
      description: Citrix Cloud customer ID header
      schema:
        type: string
  schemas:
    Notification:
      type: object
      properties:
        id:
          type: string
          description: Notification unique identifier
        title:
          type: string
          description: Notification title
        description:
          type: string
          description: Notification description
        severity:
          type: string
          enum:
          - Information
          - Warning
          - Critical
          description: Severity level of the notification
        createdDate:
          type: string
          format: date-time
          description: When the notification was created
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from client credentials grant
externalDocs:
  description: Citrix Cloud API Documentation
  url: https://developer-docs.citrix.com/en-us/citrix-cloud/citrix-cloud-api-overview/get-started-with-citrix-cloud-apis.html
