openapi: 3.2.0
info:
  title: Citrix DaaS REST Hypervisors API
  description: REST API for managing Citrix Desktop as a Service (DaaS) cloud deployments, including machine catalogs, delivery groups, applications, sessions, and hypervisor connections.
  version: '1.0'
  contact:
    name: Citrix Support
    url: https://support.citrix.com/
  termsOfService: https://developer.cloud.com/citrix-developer-terms-of-use
servers:
- url: https://api.cloud.com/cvad/manage
  description: Citrix DaaS Production
security:
- bearerAuth: []
tags:
- name: Hypervisors
  description: Manage hypervisor connections
paths:
  /Hypervisors:
    get:
      operationId: listHypervisors
      summary: Citrix List hypervisor connections
      description: Retrieve all hypervisor connections configured within the customer site.
      tags:
      - Hypervisors
      parameters:
      - $ref: '#/components/parameters/CitrixCustomerId'
      - $ref: '#/components/parameters/CitrixInstanceId'
      responses:
        '200':
          description: List of hypervisor connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HypervisorCollection'
        '401':
          description: Unauthorized
components:
  parameters:
    CitrixCustomerId:
      name: Citrix-CustomerId
      in: header
      required: true
      description: Citrix Cloud customer ID
      schema:
        type: string
    CitrixInstanceId:
      name: Citrix-InstanceId
      in: header
      required: true
      description: Citrix DaaS site instance ID
      schema:
        type: string
  schemas:
    HypervisorCollection:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Hypervisor'
    Hypervisor:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the hypervisor connection
        name:
          type: string
          description: Hypervisor connection name
        connectionType:
          type: string
          description: Type of hypervisor (e.g., AzureRM, AWS, vSphere)
        state:
          type: string
          description: Current connection state
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from Citrix Cloud authentication
externalDocs:
  description: Citrix DaaS REST APIs Documentation
  url: https://developer-docs.citrix.com/en-us/citrix-daas-service-apis/citrix-daas-rest-apis/overview.html
